# conditional statements

In [3]:
#if-else
num=20
if num>45:
    print("Pass")
else :
    print("Fail")

Fail

In [6]:
#if-elif-else
num=55
if num>=80:
    print("Topper")
elif num>50 and num<80:
    print("Pass Only")
else :
    print("Fail")

Pass Only

In [7]:
#short hand if
num=55
if num>40 : print("Pass")

Pass

In [9]:
#short hand if-else
num=25
print("Pass") if num>40 else print("Fail")

Fail

# Loops

In [11]:
#for loop
for i in range(1,6):
    print(i)

1
2
3
4
5

In [12]:
#for loop with increment 2
for i in range(1,6,2):
    print(i)

1
3
5

In [14]:
n=7
for i in range(1,11):
    print(n,"X",i,"=",n*i)

7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
7 X 10 = 70

In [15]:
#While loop
n=0
while n<=5:
    print(n)
    n=n+1

0
1
2
3
4
5

In [18]:
#while true
while True:
    num1=int(input('Enter a number here :'))
    num2=int(input('Enter second number here :'))
    print(num1+num2)
    repeat=input('Do you want to stop the program: ')
    if repeat=="yes":
        break

Enter a number here :5
Enter second number here :1
6
Do you want to stop the program: no
Enter a number here :7
Enter second number here :9
16
Do you want to stop the program: yes

In [20]:
#Nested loops
for i in range(1,4):
    for j in range(1,11):
        print(j, end="")
    print()

12345678910
12345678910
12345678910

In [21]:
for i in range(1,6):
    for j in range(1,i+1):
        print(j,end="")
    print()

1
12
123
1234
12345

In [23]:
#for loop with conditional statements
for i in range(1,11):
    if i==3:
        print("Add this song to fav")
    else:
        print(i)

1
2
Add this song to fav
4
5
6
7
8
9
10

In [2]:
#break and continue statements
for i in range(1,11):
    if i==5:
        continue
    else:
        print(i)

1
2
3
4
6
7
8
9
10

In [4]:
while True:
    name=input("Enter customer's name: ")
    total=0
    
    while True:
        print("Enter the amount and Quantity")
        amount=float(input("Enter amount: "))
        quantity=float(input("Enter Quantity: "))
        total+=amount*quantity
        repeat=input('Do you want to add more items? (Yes/N0): ')
        if repeat=="no" or repeat=="No":
            break
    print("-"*40)
    print("Name: ",name)
    print("Amount to be paid: ",total)
    print("-"*40)
    print("********Happy Shopping********")
    
    repeat1=input("Do you want to go to next Customer? (Yes/N0): ")
    if repeat1=="no" or repeat1=="No":
        break

Enter customer's name: Sid
Enter the amount and Quantity
Enter amount: 54
Enter Quantity: 45
Do you want to add more items? (Yes/N0): yes
Enter the amount and Quantity
Enter amount: 12
Enter Quantity: 8
Do you want to add more items? (Yes/N0): no
----------------------------------------
Name:  Sid
Amount to be paid:  2526.0
----------------------------------------
********Happy Shopping********
Do you want to go to next Customer? (Yes/N0): no

In [21]:
for i in range(1,6):
    for j in range(1,i+1):
        print(j,end=" ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [19]:
for i in range(1,6):
    for j in range(1,i+1):
        print(i,end=" ")
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [17]:
for i in range(1,6):
    for j in range(6,i,-1):
        print(i , end=" ")
    print()

1 1 1 1 1
2 2 2 2
3 3 3
4 4
5

In [16]:
for i in range(1,6):
    for j in range(5,i,-1):
        print(" ", end=" ")
    for k in range(i):
        print("*", end=" ")
        
    print()

        *
      * *
    * * *
  * * * *
* * * * *

In [22]:
for i in range(1,6):
    for j in range(i,0,-1):
        print(j, end=" ")
    print()

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

In [24]:
for i in range(1,6):
    for j in range(1,i+1):
        print("*", end=" ")
    print()
for i in range (5,0,-1):
    for k in range(0,i-1):
         print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [25]:
for i in range(1,11):
    for j in range(1,i+1):
        print(i*j,end=" ")
    print()

1
2 4
3 6 9
4 8 12 16
5 10 15 20 25
6 12 18 24 30 36
7 14 21 28 35 42 49
8 16 24 32 40 48 56 64
9 18 27 36 45 54 63 72 81
10 20 30 40 50 60 70 80 90 100

# String Manipulation

In [8]:
#length of string
a="why fit in, When you are Born to Stand Out!"
b=len(a)
print("The length of the given string is: ",b)

The length of the given string is:  43

In [9]:
#counting of occurences
b=a.count("o")
print("The number of times o is occuring is: ",b)

The number of times o is occuring is:  3

In [10]:
#lower case and upper case conversion
x=a.lower()
print(x)
y=a.upper()
print(y)

why fit in, when you are born to stand out!
WHY FIT IN, WHEN YOU ARE BORN TO STAND OUT!

In [11]:
#conver string to title 
c=a.title() 
print(c)

Why Fit In, When You Are Born To Stand Out!

In [12]:
#capitalize string first letter only
c=a.capitalize()
print(c)

Why fit in, when you are born to stand out!

In [13]:
#find the index of "fit in"
print(a.find("fit in"))

4

In [14]:
#index
a="Hello world"
print(a.index('o'))

4

In [15]:
#format
name="John"
a="My name is {}"
print (a.format(name))

My name is John

In [16]:
#center : it fills the given characters and centralizes a string
name="John"
print(name.center(10,'*'))

***John***

In [18]:
#to write variables inside a string
name="John"
age=24
b="my name is {}. and my age is {}"
print(b.format(name,age))

my name is John. and my age is 24

In [23]:
a="hello"
b="Hello123"
c="123456"
d="HELLO"
e=" "
f="Hello 123@"
g="1.234"

In [30]:
#isalnum - returns true if all characters in the string are alpanumeric
print(a.isalnum())
print(b.isalnum())
print(c.isalnum())
print(d.isalnum())
print(e.isalnum())
print(f.isalnum())
print(g.isalnum())

True
True
True
True
False
False
False

In [31]:
#isalpha - returns true if all characters in the string are alphabet
print(a.isalpha())
print(b.isalpha())
print(c.isalpha())
print(d.isalpha())
print(e.isalpha())
print(f.isalpha())
print(g.isalpha())

True
False
False
True
False
False
False

In [32]:
#isdecimal - returns true if all characters in the string are decimal
print(a.isdecimal())
print(b.isdecimal())
print(c.isdecimal())
print(d.isdecimal())
print(e.isdecimal())
print(f.isdecimal())
print(g.isdecimal())

False
False
True
False
False
False
False

In [33]:
#isdigit - returns true if all characters in the string are digits
print(a.isdigit())
print(b.isdigit())
print(c.isdigit())
print(g.isdigit())

False
False
True
False

In [34]:
#isnumeric - returns true if all characters in the string are numeric
print(a.isnumeric())
print(b.isnumeric())
print(c.isnumeric())
print(e.isnumeric())

False
False
True
False

In [35]:
#islower - returns true if all characters in the string are lower case
print(a.islower())
print(d.islower())

True
False

In [36]:
#isupper - returns true if all characters in the string are upper case
print(a.isupper())
print(d.isupper())

False
True

In [37]:
#isspace - returns true if all characters in the string are whitespaces
print(e.isspace())
print(f.isspace())

True
False

In [38]:
#istitle - returns true if the string follows the rules of a title
d="HELLO everyone"
f="Hello 123"
h="Harry Potter And The Goblet Of Fire"
print(d.istitle())
print(f.istitle())
print(h.istitle())

False
True
True

In [39]:
#endswith() - returns true if the string ends with the specified value
a="Harry Potter"
print(a.endswith("t",6,9))

True

In [42]:
#startswith() - returns true if the string starts with the specified value
a="Harry potter"
print(a.startswith("p",6,9))

True

In [43]:
#swapcase() - swap casez, lower case become upper case and vice versa
a="Harry Potter"
print(a.swapcase())

hARRY pOTTER

In [45]:
#strip() - returns a trimmed version of the string
a="  ***Harry Potter .... "
print(a.strip(".,*, "))

Harry Potter

In [46]:
#split() - splits the string at the specified separator, and returns a list
a="#OOFD#BRB#OMW#TB"
print(a.split("#"))

['', 'OOFD', 'BRB', 'OMW', 'TB']

In [2]:
#ljust() - Returns a left justified version of the string
a= "Harry potter"
x=a.ljust(20,"*")

print(x,"is my fav. movie")

Harry potter******** is my fav. movie

In [3]:
#rjust() - Returns a right justified version of the string
a= "Harry potter"
x=a.rjust(20,"*")

print(x,"is my fav. movie")

********Harry potter is my fav. movie

In [4]:
#replace() - Returns a string where a specified value is replaced with a specified value
a= "my name is john"
print(a)
print(a.replace("john","lissa"))

my name is john
my name is lissa

In [17]:
#rindex() - Searches the string for a specified value and returns 
# the last position of where it was found

a="Harry potter and the Prisoner of Azkaban"
print(a.rindex("Prisoner"))
print(a.rindex("a",6,20))

21
13

In [16]:
#rfind() - Searches the string for a specified value and returns 
# the last position of where it was found

a="Harry potter and the Goblet of Fire"
print(a.rfind("potter"))

b="bibidy bobidy boo"
print(a.rfind("i",6,14))

6
-1

# Slicing in Strings

In [29]:
a="Harry Potter and the Goblet of Fire"
b="0123456789"

print(a)
print(a[0:5])

print(a[6:12])

print(a[:5])

print(a[-4:])

print(b)
print(b[::2])

print(b[:7:3])

print(b[::-1])

print(b[6::-1])

Harry Potter and the Goblet of Fire
Harry
Potter
Harry
Fire
0123456789
02468
036
9876543210
6543210

# Problem Solving

In [32]:
#Fibonacci series
a=0
b=1
n=int(input("enter the range here: "))
if n==1:
    print(1)
else:
    print(a)
    print(b)
    for i in range(2,n):
        c=a+b
        a=b
        b=c
        print(c)

enter the range here: 13
0
1
1
2
3
5
8
13
21
34
55
89
144

In [36]:
#If number is Prime or not

num=int(input("Enter a number here: "))

if num<=1:
    print("It is not a prime number")
else:
    for i in range(2,num):
        if num%i==0:
            print("Number is not a prime number")
            break
    else:
            print("Number is a prime number")

Enter a number here: 11
Number is a prime number

In [2]:
#If number is Palindrome or not
num=int(input("Enter a number here:"))
temp=num
rev=0
while num>0:
    dig=num%10
    rev=rev*10+dig
    num=num//10
if(rev==temp):
    print("Palindrome number")
else:
    print("Not Palindrome number")

Enter a number here:151
Palindrome number

In [7]:
#Write a code to separate the following string into comma(,) separated values
a="OOTD.YOLO.ASAP.BRB.GTG.OTW"
b=a.split(".")
print (b)

['OOTD', 'YOLO', 'ASAP', 'BRB', 'GTG', 'OTW']

In [9]:
#Write a code to sort strings alpabetically in python
a=input("Enter anything here")
b=sorted(a)
print(b)

Enter anything herehello
['e', 'h', 'l', 'l', 'o']

In [10]:
#Write a code to remove a given character from a string
a="hello"
b=a.replace("e","")
print(b)

hllo

In [11]:
#Write a code to remove dot(.) from the following string
z="F.R.I.E.N.D.S"
b=z.replace(".","")
print(b)

FRIENDS

In [12]:
#Write a program to chek the number of occurence of a substring in a string
a="she sells seasshells on the sea shore"
b=a.count("sea")
print("the number of times substring sea is occuring is",b)

the number of times substring sea is occuring is 2

In [17]:
#Reverse a string
a=input("Enter anything here:")
print(a[::-1])

Enter anything here:hello
olleh

In [21]:
#Check if a string contains only digits
a=input("Enter anything here:")
b=(a.isdigit())
if b==True:
    print("It contains only digits")
else:
    print("It does not contain any digit")

Enter anything here:123
It contains only digits

In [ ]:
#Check if a string is palindrome
a=input("Enter anything here:")
rev=a[::-1]
if a==rev:
    print("It is palindrome")
else:
    print("It is not palindrome")

In [ ]:
#find number of vowels in a string
a=input("Enter anything here:")
vowels=0
for i in a:
    if i="a" or i=="e" or i=="i" or i=="0" or i=="u" or i=="A" or i=="E" or i=="I" or i=="O" or i=="U" :
        vowels+=1
print("Number of vowels is",vowels)

In [ ]:
#check if every word in a string begins with a capital letter
a=input("Enter anything here:")
print(a.istitle())

# List

Lists are the collection of ordered and mutable data.
* Lists are written inside the squared brackets.
* The value inside a list is separated by coma (,).
* Mutable means once created , they can be changed
* Multiple datatypes can be written inside a list

In [ ]:
fruits=["apple","mango","banana",12,141,45.10]
print(fruits)
print(type(fruits))

LIST SLICING

In [ ]:
a=["Ironman","Thor","Captain America","HULK"]
print(a[2])
print(a[1:3])
print(a[:2])
print(a[1:])
print(a[::2])
print(a[-3:-1])
print(a[::-1])
print(a[-1:-4:-1])

LIST ITERATION

In [1]:
#Iteration Using For Loop
a=["Hulk","Thor","Ironman","Captain America"]
for i in a:
    print(i)

Hulk
Thor
Ironman
Captain America

In [2]:
#Iteration Using For Loop with Range and Length Function
a=["Hulk","Thor","Ironman","Captain America"]
for i in range(len(a)):
    print(a[i])

Hulk
Thor
Ironman
Captain America

In [3]:
#Iteration Using While Loop
a=["Hulk","Thor","Ironman","Captain America"]
i=0
while i<(len(a)):
    print(a[i])
    i=i+1

Hulk
Thor
Ironman
Captain America

In [4]:
#Using Short-Hand For Loop
[print (i) for i in a]

Hulk
Thor
Ironman
Captain America

[None, None, None, None]

LIST FUNCTIONS

In [5]:
#to find the length of list
a=["Thor","Hulk","Ironman","Captain America"]
print(len(a))

4

In [6]:
#to count the length of the list
a=["Thor","Hulk","Ironman","Captain America","Hulk"]
print(a.count("Hulk"))

2

In [8]:
#to add to the list
a=["Thor","Hulk","Ironman","Captain America"]
a.append("Spiderman")
print(a)

['Thor', 'Hulk', 'Ironman', 'Captain America', 'Spiderman']

In [12]:
#to add to a specific location
a=["Thor","Hulk","Ironman","Captain America"]
a.insert(1,"Vision")
print(a)

['Thor', 'Vision', 'Hulk', 'Ironman', 'Captain America']

In [14]:
#to remove from a list
a=["Thor","Hulk","Ironman","Captain America"]
a.remove("Hulk")
print(a)

['Thor', 'Ironman', 'Captain America']

In [17]:
#to remove from a certain location
a=["Thor","Hulk","Ironman","Captain America"]
print(a.pop(1))
print(a)

Hulk
['Thor', 'Ironman', 'Captain America']

In [18]:
#to create a copy of a list
a=["Thor","Hulk","Ironman","Captain America"]
b=[]
print(b)
b=a.copy()
print(b)

[]
['Thor', 'Hulk', 'Ironman', 'Captain America']

In [19]:
#to access an element
a=["Thor","Hulk","Ironman","Captain America"]
print(a.index("Ironman"))

2

In [20]:
#to extend the list
c=["Vision","Spiderman"]
a.extend(c)
print(a)

['Thor', 'Hulk', 'Ironman', 'Captain America', 'Vision', 'Spiderman']

In [21]:
#to reverse the list
a=["Thor","Hulk","Ironman","Captain America"]
a.reverse()
print(a)

['Captain America', 'Ironman', 'Hulk', 'Thor']

In [23]:
#to sort the list (in ascending order)
a=["Thor","Hulk","Ironman","Captain America"]
d=[1,7,4,9,10,2]
a.sort()
d.sort()
print(a)
print(d)

['Captain America', 'Hulk', 'Ironman', 'Thor']
[1, 2, 4, 7, 9, 10]

In [24]:
#to clear all the data from the list
a=["Thor","Hulk","Ironman","Captain America"]
a.clear()
print(a)

[]

LIST COMPREHENSION

In [26]:
l1=[30,40,50,60]
l2=[]
for i in l1:
    l2.append(i)
print(l1,"\n",l2)


#list comprehension is generally used when we want to copy the data of one list to another list
l3=[i for i in l1 if i>45]
print(l3)

[30, 40, 50, 60]
 [30, 40, 50, 60]
[50, 60]

# LIST PROBLEM SOLVING

In [32]:
#Write a program to swap first and forth element
A=["Ross","Rachel","Monica","Joe"]
A[0],A[3]=A[3],A[0]
print(A)

['Joe', 'Rachel', 'Monica', 'Ross']

In [33]:
#Write a program to add new value at second element
A=["Ross","Rachel","Monica","Joe"]
A.insert(1,"Phoebe")
print(A)

['Ross', 'Phoebe', 'Rachel', 'Monica', 'Joe']

In [34]:
#Write a program to delete a value from 3rd position
A=["Ross","Rachel","Monica","Joe"]
A.pop(2)
print(A)

['Ross', 'Rachel', 'Joe']

In [35]:
#Write a program to multiply all the numbers in the list
B=[13,7,12,10]
mul=1
for i in (B):
    mul*=i
print(mul)

10920

In [37]:
#Write a program to get the largest number from the list
B=[13,7,12,10]
B.sort() #arrange the list in ascending order
print(B[-1])

13

In [38]:
#Write a program to get the smallest number from the list
B=[13,7,12,10]
B.sort()
print(B[0])

7

# TUPLE

Tuples are the collection of ordered and un-mutable data.
* For tuples no brackets are mandatory. By choice one can use parentheses.
* The value inside a tuple is separated by coma (,).
* Once created, tuples cannot be changed.
* Multiple datatypes can be written inside a tuples.

In [1]:
a="apple" , "mango" , "banana", 1,67,1.23
print(type(a))

<class 'tuple'>

In [2]:
print(a)

('apple', 'mango', 'banana', 1, 67, 1.23)

In [4]:
b="Ironman"
print(type(b))

b="Ironman" ,
print(type(b))

<class 'str'>
<class 'tuple'>

SLICING and ITERATION in Tuples

In [5]:
a=("OnePlus","Vivo","Redmi","Samsung","Nokia")
print(a[1:3])

('Vivo', 'Redmi')

In [6]:
print(a[:3])

('OnePlus', 'Vivo', 'Redmi')

In [7]:
print(a[2:])

('Redmi', 'Samsung', 'Nokia')

In [8]:
print(a[::2])

('OnePlus', 'Redmi', 'Nokia')

In [11]:
print(a[1::2])

('Vivo', 'Samsung')

In [12]:
print(a[::-1])

('Nokia', 'Samsung', 'Redmi', 'Vivo', 'OnePlus')

In [13]:
print(a[2::-1])

('Redmi', 'Vivo', 'OnePlus')

In [19]:
#With for loop
for i in a:
    print(i)

OnePlus
Vivo
Redmi
Samsung
Nokia

In [17]:
#along with range and length in for loop
for i in range(len(a)):
    print(a[i])

OnePlus
Vivo
Redmi
Samsung
Nokia

In [18]:
#along with while loop
i=0
while i<len(a):
    print(a[i])
    i+=1

OnePlus
Vivo
Redmi
Samsung
Nokia

Conversion of Tuples and Tuple Functions

In [21]:
a = ("OnePlus","Nokia","Redmi")
print("Before conversion",type(a))

a=list(a)
print("After conversion",type(a))

Before conversion <class 'tuple'>
After conversion <class 'list'>

In [22]:
a.append("Vivo")
print(a)

['OnePlus', 'Nokia', 'Redmi', 'Vivo']

In [23]:
a=tuple(a)
print(type(a))
print(a)

<class 'tuple'>
('OnePlus', 'Nokia', 'Redmi', 'Vivo')

In [24]:
print(a.count("Redmi"))

1

In [28]:
print("The index of Redmi is",a.index("Redmi"))

The index of Redmi is 2

PROBLEM SOLVING

In [2]:
#convert the following dictionary into JSON format
import json
Student_data={"name":"David","age":13,"marks":87}
print(type(Student_data))

data=json.dumps(Student_data)
print(data)
print(type(data))

<class 'dict'>
{"name": "David", "age": 13, "marks": 87}
<class 'str'>

In [7]:
#Pretty print following JSON data
Student_data={"name":"David","age":13,"marks":87}
data=json.dumps(Student_data,indent=4,separators=(",","="))
print(data)

{
    "name"="David",
    "age"=13,
    "marks"=87
}

# DICTIONARY

Dictionary allows user to write the data in the form of keys and values.
* Dictionaries are enclosed inside curly brackets {}.
* Keys and Values are separated by colon
* Every key value pair is separated by a comma ( , )

In [8]:
Employee_data={"name":"Ram","Age":22,"Gender":"Male"}
print(Employee_data["Gender"])

Male

ITERATION in Dictionaries