# conditional statements

In [3]:
#if-else
num=20
if num>45:
    print("Pass")
else :
    print("Fail")

Fail

In [6]:
#if-elif-else
num=55
if num>=80:
    print("Topper")
elif num>50 and num<80:
    print("Pass Only")
else :
    print("Fail")

Pass Only

In [7]:
#short hand if
num=55
if num>40 : print("Pass")

Pass

In [9]:
#short hand if-else
num=25
print("Pass") if num>40 else print("Fail")

Fail

# Loops

In [11]:
#for loop
for i in range(1,6):
    print(i)

1
2
3
4
5

In [12]:
#for loop with increment 2
for i in range(1,6,2):
    print(i)

1
3
5

In [14]:
n=7
for i in range(1,11):
    print(n,"X",i,"=",n*i)

7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
7 X 10 = 70

In [15]:
#While loop
n=0
while n<=5:
    print(n)
    n=n+1

0
1
2
3
4
5

In [18]:
#while true
while True:
    num1=int(input('Enter a number here :'))
    num2=int(input('Enter second number here :'))
    print(num1+num2)
    repeat=input('Do you want to stop the program: ')
    if repeat=="yes":
        break

Enter a number here :5
Enter second number here :1
6
Do you want to stop the program: no
Enter a number here :7
Enter second number here :9
16
Do you want to stop the program: yes

In [20]:
#Nested loops
for i in range(1,4):
    for j in range(1,11):
        print(j, end="")
    print()

12345678910
12345678910
12345678910

In [21]:
for i in range(1,6):
    for j in range(1,i+1):
        print(j,end="")
    print()

1
12
123
1234
12345

In [23]:
#for loop with conditional statements
for i in range(1,11):
    if i==3:
        print("Add this song to fav")
    else:
        print(i)

1
2
Add this song to fav
4
5
6
7
8
9
10

In [2]:
#break and continue statements
for i in range(1,11):
    if i==5:
        continue
    else:
        print(i)

1
2
3
4
6
7
8
9
10

In [4]:
while True:
    name=input("Enter customer's name: ")
    total=0
    
    while True:
        print("Enter the amount and Quantity")
        amount=float(input("Enter amount: "))
        quantity=float(input("Enter Quantity: "))
        total+=amount*quantity
        repeat=input('Do you want to add more items? (Yes/N0): ')
        if repeat=="no" or repeat=="No":
            break
    print("-"*40)
    print("Name: ",name)
    print("Amount to be paid: ",total)
    print("-"*40)
    print("********Happy Shopping********")
    
    repeat1=input("Do you want to go to next Customer? (Yes/N0): ")
    if repeat1=="no" or repeat1=="No":
        break

Enter customer's name: Sid
Enter the amount and Quantity
Enter amount: 54
Enter Quantity: 45
Do you want to add more items? (Yes/N0): yes
Enter the amount and Quantity
Enter amount: 12
Enter Quantity: 8
Do you want to add more items? (Yes/N0): no
----------------------------------------
Name:  Sid
Amount to be paid:  2526.0
----------------------------------------
********Happy Shopping********
Do you want to go to next Customer? (Yes/N0): no

In [21]:
for i in range(1,6):
    for j in range(1,i+1):
        print(j,end=" ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [19]:
for i in range(1,6):
    for j in range(1,i+1):
        print(i,end=" ")
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [17]:
for i in range(1,6):
    for j in range(6,i,-1):
        print(i , end=" ")
    print()

1 1 1 1 1
2 2 2 2
3 3 3
4 4
5

In [16]:
for i in range(1,6):
    for j in range(5,i,-1):
        print(" ", end=" ")
    for k in range(i):
        print("*", end=" ")
        
    print()

        *
      * *
    * * *
  * * * *
* * * * *

In [22]:
for i in range(1,6):
    for j in range(i,0,-1):
        print(j, end=" ")
    print()

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

In [24]:
for i in range(1,6):
    for j in range(1,i+1):
        print("*", end=" ")
    print()
for i in range (5,0,-1):
    for k in range(0,i-1):
         print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [25]:
for i in range(1,11):
    for j in range(1,i+1):
        print(i*j,end=" ")
    print()

1
2 4
3 6 9
4 8 12 16
5 10 15 20 25
6 12 18 24 30 36
7 14 21 28 35 42 49
8 16 24 32 40 48 56 64
9 18 27 36 45 54 63 72 81
10 20 30 40 50 60 70 80 90 100

# String Manipulation

In [8]:
#length of string
a="why fit in, When you are Born to Stand Out!"
b=len(a)
print("The length of the given string is: ",b)

The length of the given string is:  43

In [9]:
#counting of occurences
b=a.count("o")
print("The number of times o is occuring is: ",b)

The number of times o is occuring is:  3

In [10]:
#lower case and upper case conversion
x=a.lower()
print(x)
y=a.upper()
print(y)

why fit in, when you are born to stand out!
WHY FIT IN, WHEN YOU ARE BORN TO STAND OUT!

In [11]:
#conver string to title 
c=a.title() 
print(c)

Why Fit In, When You Are Born To Stand Out!

In [12]:
#capitalize string first letter only
c=a.capitalize()
print(c)

Why fit in, when you are born to stand out!

In [13]:
#find the index of "fit in"
print(a.find("fit in"))

4

In [14]:
#index
a="Hello world"
print(a.index('o'))

4

In [15]:
#format
name="John"
a="My name is {}"
print (a.format(name))

My name is John

In [16]:
#center : it fills the given characters and centralizes a string
name="John"
print(name.center(10,'*'))

***John***

In [18]:
#to write variables inside a string
name="John"
age=24
b="my name is {}. and my age is {}"
print(b.format(name,age))

my name is John. and my age is 24

In [23]:
a="hello"
b="Hello123"
c="123456"
d="HELLO"
e=" "
f="Hello 123@"
g="1.234"

In [30]:
#isalnum - returns true if all characters in the string are alpanumeric
print(a.isalnum())
print(b.isalnum())
print(c.isalnum())
print(d.isalnum())
print(e.isalnum())
print(f.isalnum())
print(g.isalnum())

True
True
True
True
False
False
False

In [31]:
#isalpha - returns true if all characters in the string are alphabet
print(a.isalpha())
print(b.isalpha())
print(c.isalpha())
print(d.isalpha())
print(e.isalpha())
print(f.isalpha())
print(g.isalpha())

True
False
False
True
False
False
False

In [32]:
#isdecimal - returns true if all characters in the string are decimal
print(a.isdecimal())
print(b.isdecimal())
print(c.isdecimal())
print(d.isdecimal())
print(e.isdecimal())
print(f.isdecimal())
print(g.isdecimal())

False
False
True
False
False
False
False

In [33]:
#isdigit - returns true if all characters in the string are digits
print(a.isdigit())
print(b.isdigit())
print(c.isdigit())
print(g.isdigit())

False
False
True
False

In [34]:
#isnumeric - returns true if all characters in the string are numeric
print(a.isnumeric())
print(b.isnumeric())
print(c.isnumeric())
print(e.isnumeric())

False
False
True
False

In [35]:
#islower - returns true if all characters in the string are lower case
print(a.islower())
print(d.islower())

True
False

In [36]:
#isupper - returns true if all characters in the string are upper case
print(a.isupper())
print(d.isupper())

False
True

In [37]:
#isspace - returns true if all characters in the string are whitespaces
print(e.isspace())
print(f.isspace())

True
False

In [38]:
#istitle - returns true if the string follows the rules of a title
d="HELLO everyone"
f="Hello 123"
h="Harry Potter And The Goblet Of Fire"
print(d.istitle())
print(f.istitle())
print(h.istitle())

False
True
True

In [39]:
#endswith() - returns true if the string ends with the specified value
a="Harry Potter"
print(a.endswith("t",6,9))

True

In [42]:
#startswith() - returns true if the string starts with the specified value
a="Harry potter"
print(a.startswith("p",6,9))

True

In [43]:
#swapcase() - swap casez, lower case become upper case and vice versa
a="Harry Potter"
print(a.swapcase())

hARRY pOTTER

In [45]:
#strip() - returns a trimmed version of the string
a="  ***Harry Potter .... "
print(a.strip(".,*, "))

Harry Potter

In [46]:
#split() - splits the string at the specified separator, and returns a list
a="#OOFD#BRB#OMW#TB"
print(a.split("#"))

['', 'OOFD', 'BRB', 'OMW', 'TB']

In [2]:
#ljust() - Returns a left justified version of the string
a= "Harry potter"
x=a.ljust(20,"*")

print(x,"is my fav. movie")

Harry potter******** is my fav. movie

In [3]:
#rjust() - Returns a right justified version of the string
a= "Harry potter"
x=a.rjust(20,"*")

print(x,"is my fav. movie")

********Harry potter is my fav. movie

In [4]:
#replace() - Returns a string where a specified value is replaced with a specified value
a= "my name is john"
print(a)
print(a.replace("john","lissa"))

my name is john
my name is lissa

In [17]:
#rindex() - Searches the string for a specified value and returns 
# the last position of where it was found

a="Harry potter and the Prisoner of Azkaban"
print(a.rindex("Prisoner"))
print(a.rindex("a",6,20))

21
13

In [16]:
#rfind() - Searches the string for a specified value and returns 
# the last position of where it was found

a="Harry potter and the Goblet of Fire"
print(a.rfind("potter"))

b="bibidy bobidy boo"
print(a.rfind("i",6,14))

6
-1

# Slicing in Strings

In [29]:
a="Harry Potter and the Goblet of Fire"
b="0123456789"

print(a)
print(a[0:5])

print(a[6:12])

print(a[:5])

print(a[-4:])

print(b)
print(b[::2])

print(b[:7:3])

print(b[::-1])

print(b[6::-1])

Harry Potter and the Goblet of Fire
Harry
Potter
Harry
Fire
0123456789
02468
036
9876543210
6543210

# Problem Solving

In [32]:
#Fibonacci series
a=0
b=1
n=int(input("enter the range here: "))
if n==1:
    print(1)
else:
    print(a)
    print(b)
    for i in range(2,n):
        c=a+b
        a=b
        b=c
        print(c)

enter the range here: 13
0
1
1
2
3
5
8
13
21
34
55
89
144

In [36]:
#If number is Prime or not

num=int(input("Enter a number here: "))

if num<=1:
    print("It is not a prime number")
else:
    for i in range(2,num):
        if num%i==0:
            print("Number is not a prime number")
            break
    else:
            print("Number is a prime number")

Enter a number here: 11
Number is a prime number

In [2]:
#If number is Palindrome or not
num=int(input("Enter a number here:"))
temp=num
rev=0
while num>0:
    dig=num%10
    rev=rev*10+dig
    num=num//10
if(rev==temp):
    print("Palindrome number")
else:
    print("Not Palindrome number")

Enter a number here:151
Palindrome number

In [7]:
#Write a code to separate the following string into comma(,) separated values
a="OOTD.YOLO.ASAP.BRB.GTG.OTW"
b=a.split(".")
print (b)

['OOTD', 'YOLO', 'ASAP', 'BRB', 'GTG', 'OTW']

In [9]:
#Write a code to sort strings alpabetically in python
a=input("Enter anything here")
b=sorted(a)
print(b)

Enter anything herehello
['e', 'h', 'l', 'l', 'o']

In [10]:
#Write a code to remove a given character from a string
a="hello"
b=a.replace("e","")
print(b)

hllo

In [11]:
#Write a code to remove dot(.) from the following string
z="F.R.I.E.N.D.S"
b=z.replace(".","")
print(b)

FRIENDS

In [12]:
#Write a program to chek the number of occurence of a substring in a string
a="she sells seasshells on the sea shore"
b=a.count("sea")
print("the number of times substring sea is occuring is",b)

the number of times substring sea is occuring is 2

In [17]:
#Reverse a string
a=input("Enter anything here:")
print(a[::-1])

Enter anything here:hello
olleh

In [21]:
#Check if a string contains only digits
a=input("Enter anything here:")
b=(a.isdigit())
if b==True:
    print("It contains only digits")
else:
    print("It does not contain any digit")

Enter anything here:123
It contains only digits

In [ ]:
#Check if a string is palindrome
a=input("Enter anything here:")
rev=a[::-1]
if a==rev:
    print("It is palindrome")
else:
    print("It is not palindrome")

In [ ]:
#find number of vowels in a string
a=input("Enter anything here:")
vowels=0
for i in a:
    if i="a" or i=="e" or i=="i" or i=="0" or i=="u" or i=="A" or i=="E" or i=="I" or i=="O" or i=="U" :
        vowels+=1
print("Number of vowels is",vowels)

In [ ]:
#check if every word in a string begins with a capital letter
a=input("Enter anything here:")
print(a.istitle())

# List

In [ ]:
fruits=["apple","mango","banana",12,141,45.10]
print(fruits)
print(type(fruits))

SLICING LISTS

In [ ]:
a=["Ironman","Thor","HULK","Captain America"]
print(a[2])